@import "src/lib/bootswatch/solar/variables";

.navbar {
    padding: 0 16px;
    height: 52.75px;
  
    > .navbar-brand {
      line-height: 30px;
  
      > .font-logo {
        position: relative;
        width: 4.2em;
        height: 1em;
        font-size: 38px;
  
        > i {
          position: absolute;
        }
      }
    }
  
    .collapse.navbar-collapse,
    .collapse.navbar-collapse > .navbar-nav,
    .collapse.navbar-collapse > .navbar-nav > .nav-item,
    .collapse.navbar-collapse > .navbar-nav > .nav-item > .nav-link {
      height: 100%;
    }
  
    .nav-item {
      line-height: 48.75px;
  
      &:hover {
        cursor: pointer;
      }
  
      > .nav-link {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  
  .sidenav {
    position: fixed;
    top: 52.75px;
    left: 0;
    width: 200px;
    height: calc(100% - 52.75px);
  
    display: block;
    transform: translateX(-200px);
  
    transition: transform 0.2s;
    z-index: 3;
    
    background-color: $nav-tabs-border-color;
  
    .nav-item {
      background-color: inherit;
    }
  
    &.open {
      transform: translateX(0);
    }
  
    > ul {
      width: 100%;
      list-style-type: none;
  
      > .nav-item {
        width: 100%;
        height: 40px;
        line-height: 40px;
  
        > .nav-link {
          text-decoration: none;
          padding-left: 18px;
        }
      }
    }
  }
  
  .sidenav-wrapper {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s;
  
    &.open {
      position: fixed;
      width: 100%;
      top: 52.75px;
      height: calc(100% - 52.75px);
      background-color: rgba(10, 10, 10, .5);

      z-index: 2;
      cursor: pointer;
    }
  }
  