<div class="container">
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label class="col-form-label" for="album_name">Search Album</label>
      <div class="input-group">
        <input name="album_name" [(ngModel)]="album_name" autocomplete="off" id="album_name" type="text" class="form-control" placeholder="Album name">
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </div>
  </form>

  <div class="card-columns">
    <div *ngFor="let album of albums">
      <app-album [album]="album"></app-album>
    </div>
  </div>

  <app-pagination #pagination></app-pagination>
</div>